.container {
	width: 500px;
	background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #D2D2D2;
    margin: auto;
    top: 50px;
    position: relative;
    padding: 50px 100px;
}

/*
 * Search Box Design (Google+)
 */

div.criteriaSearchBox {
	font-family: arial,sans-serif;
	font-size: 13px;
}

div.criteriaSearchBox div.searchBoxContainer {
	border: 1px solid #C4C4C4; 
    padding: 3px;   
	box-shadow: 0 0 8px #E2E2E2;
	background: repeat scroll 0 0 white;
	min-height: 28px;
	position: relative;
}

div.criteriaSearchBox div.searchBoxContainer input[type='search'],
div.criteriaSearchBox div.searchBoxContainer input[type='text'] {
	background: none repeat scroll 0 0 transparent;
	border: none;
	outline: none;
	padding: 0;
	height: 28px;
    line-height: 28px;
    -webkit-appearance: none; 
}

div.criteriaSearchBox div.searchBoxContainer button {
	background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #3079ED;
    padding: 4px 8px;
}

div.criteriaSearchBox div.searchBoxContainer > span {
	height: 24px;
	line-height: 24px;
}

div.criteriaSearchBox div.searchBoxContainer button:hover {
	border-color: #2F5BB7;
}

div.criteriaSearchBox div.searchBoxContainer span.actionSection {
	float: right;
}

div.criteriaSearchBox div.searchBoxContainer span.inputSection {
	margin: 1px 4px;
}

/* drop down */
div.criteriaSearchBox div.dropDownContainer {
	background: none repeat scroll 0 0 #FFFFFF;
	border-width: 0px 1px 1px;
	border-style: solid;
	border-color:  #C4C4C4;
	box-shadow: 0 0 8px #E2E2E2;
	max-height: 150px;
	z-index: 999;
	position: absolute;
}

div.criteriaSearchBox div.dropDownContainer div {
    color: #333333;
    cursor: pointer;
    white-space: nowrap;
    margin: 0;
    padding: 6px 16px;
}

div.criteriaSearchBox div.dropDownContainer div.selected {
    background-color: #EEEEEE;
}

/* selected criterias */

div.criteriaSearchBox div.selectedCriteriaContainer {
	padding: 4px 2px;
}

div.criteriaSearchBox div.selectedCriteriaContainer a {
	height: 14px;
	line-height: 14px;
	margin: 2px;
	padding: 2px 5px;
    vertical-align: middle;
    border-radius: 3px 3px 3px 3px;
    background: repeat scroll 0 0 #28AFE7;
    border: 1px solid #057BAC;
    color: #FFFFFF;  
    display: inline-block;  
    cursor: pointer;
}

div.criteriaSearchBox div.selectedCriteriaContainer a:hover {
	background: repeat scroll 0 0 #057BAC;
    border: 1px solid #057BAC;
}

div.criteriaSearchBox div.selectedCriteriaContainer a.category {
    background: repeat scroll 0 0 #77BB4E;
    border: 1px solid #57A02F;
}

div.criteriaSearchBox div.selectedCriteriaContainer a.category:hover {
    background: repeat scroll 0 0 #57A02F;
    border: 1px solid #57A02F;
}

div.criteriaSearchBox div.selectedCriteriaContainer a i {
	padding-right: 5px;
}
